body{
    margin: 0;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

p{
    margin: 0;
    font-size: 1.2rem;
}

li{
    font-size: 1.2rem;
}

h2{
    color: #6D94C5;
    font-size: 2rem;
        font-weight: 500;
}

h3{
    color: #4f6e94;
    font-size: 1.4rem;
}

ul li p{
    color: #439deb;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.contenedor{
    margin: 0 15rem;
}



@media (max-width:1400px) {
   .contenedor{
    margin: 0 8rem;
} 
}

@media (max-width:1400px) {
   .contenedor{
    margin: 0 4rem;
} 
}

/* main{
  margin-bottom: 15rem;
} */

/* Contenido Top */
.topContent{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    height: 26rem;
    padding-right: 55px;
    background-color: #d7e9ff;
    position: relative;
    background-image: url('../public/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
        background-position: center;
}

@media (max-width:992px) {
  .topContent{
  justify-content: end;
    align-items: center;
    padding: inherit;
    padding-bottom: 2rem;
  }

}

.topContent h1{
    font-size: 3rem;
    color: #6D94C5;
}

.topContent p{
    font-size: 2rem;
    color: #203f66;
}

.foto{
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -5rem;
}

.fondo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Contenido principal*/
.principal{
    margin-top: 3rem;
}

.proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.proyecto{
    width: 10rem;
    height: 10rem;
    border: 2px solid #4f6e94;
    border-radius: 10px;
    padding: .9rem;
    text-align: center;
}

/* @media (max-width:1200px) {
.proyecto{
    width: 10rem;
    height: 10rem;
} 
} */

.proyecto a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: unset;
    color: #4f6e94;
    font-weight: 600;
    height: 100%;
}

.proyecto img{
    width: 7rem;
}

.circulo{
    border-radius: 50%;
}

.callAction{
    margin-top: 5rem;
    color: #6D94C5;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
    background-color: #CBDCEB;
    height: 8rem;
    padding: 1rem 0;
}

footer p{
    font-size: 1.4rem;
    font-weight: 600;
}

.contacto{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contacto a{
    font-size: 1.2rem;
    color: #6D94C5;
    text-decoration: unset;
    font-weight: 600;
}
.whats{
  margin: auto;
    display: block;
    width: 9rem;
    margin-bottom: 5rem;
}